/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

* {
  scroll-behavior: smooth;
}

nav ul a,
nav .brand-logo {
  color: #444;
  font-size: 1.5rem;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #2196f3;
}

#pcnav {
  font-size: 1.2rem;
  font-weight: 500;
}

#mobilenav {
  font-size: 1.2rem;
  font-weight: 500;
}

.parallax-container {
  min-height: 300px;
  line-height: 80px;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}

.parallax-container img {
  filter: brightness(30%);
}
.parallax-container .section {
  width: 100%;
}

img.responsive-img {
  max-width: 30%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: -60%;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
